@import "tailwindcss";
@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));
/* global base styles for theme colors */
@layer base {
  body {
    @apply bg-slate-50 dark:bg-slate-900 text-gray-900 dark:text-gray-100;
  }
}
